<div class="col-md-2 col-lg-1 d-md-block sidebar" style="background: #f8f9fa; min-height: 100vh;">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link text-black" href="{% url 'home' %}">HOME</a></li>
            <li class="nav-item"><a class="nav-link text-black" href="#">IMPORT DATA</a></li>
            <li class="nav-item"><a class="nav-link text-black" href="#">EXPORT DATA</a></li>
            <li class="nav-item"><a class="nav-link text-black" href="#">WEB SCRAPING</a></li>
            <li class="nav-item"><a class="nav-link text-black" href="#">LOGOUT</a></li>
        </ul>
    </div>
</div>
